.edit-color {
  padding-top: 0.5rem;
  .edit-color-input {
    flex: 1 1 50%;
    label {
      color: var(--glsp-bar-menu-label);
    }
    input:invalid {
      --input-border: 1px solid var(--glsp-error-foreground);
    }
    input[type='color'] {
      position: absolute;
      visibility: hidden;
    }
  }
  .color-picker {
    position: relative;
    .decorator {
      height: 1rem;
      width: 1rem;
      border-radius: 1rem;
      background-color: var(--glsp-foreground);
      position: absolute;
      top: var(--input-padding, 10px);
      left: var(--input-padding, 10px);
      cursor: pointer;
    }
    input {
      padding-left: 2rem;
      width: calc(100% - var(--input-padding, 10px) - 2rem - 2px);
    }
  }
}
