.quick-actions-container {
  visibility: hidden;
  height: 100%;
  width: 100%;
}
.quick-action-ui.ui-popover-content {
  border: none;
  visibility: visible;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}
.quick-action-selection-box {
  position: absolute;
  border: 1px dashed var(--glsp-multiselect-box-border);
  background: none;
  pointer-events: none;
}
.quick-actions-bar {
  position: relative;
  max-height: 44px;
  background: var(--glsp-tool-bg);
  box-shadow: var(--glsp-box-shadow);
  border-radius: var(--border-r2, 5px);
  padding: var(--size-1, 0.25rem);
}
