.jump-out-container {
  top: var(--size-3, 0.75rem);
  left: var(--size-3, 0.75rem);
  background: var(--glsp-tool-bg);
  border-radius: var(--border-r2, 5px);
  box-shadow: var(--glsp-box-shadow);
  padding: var(--size-1, 0.25rem);
}
