.label-edit {
  margin-top: 5em;
  input,
  textarea {
    background: var(--glsp-inline-label-background);
    color: var(--glsp-foreground);
    border-radius: 4px;
    width: 99%;
    height: 99%;
    box-shadow: var(--glsp-box-shadow);
    z-index: 100;
    border: 1px solid var(--glsp-border);
  }
  input:focus,
  textarea:focus {
    outline: none;
    outline-offset: 0px;
  }
}
