.ivy-viewport-bar {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  user-select: none;
}
.viewport-bar {
  background: var(--glsp-tool-bg);
  border-radius: var(--border-r2, 5px);
  box-shadow: var(--glsp-box-shadow);
  padding: var(--size-1, 0.25rem);
}
.viewport-bar .viewport-bar-zoom {
  padding-inline: var(--size-2, 0.5rem);
}
